#login h3 {
	position: relative;
	top: 10px;
	width: 100%;
	text-align: center;
}

#login form {
	position: relative;
	top: 20px;
	width: 100%;
	text-align: center;
}

#login input {
	position: relative;
	height: 50px;
	display: block;
	line-height: 140%;
	text-align: center;
	color: #681a1a;
	font-size: 24px;	
	margin: 0 auto;
	margin-top: 20px;
}

#login input:focus {
	outline: none;
	border-color: #9ecaed;
    box-shadow: 0 0 40px #68421a;
}

#login form input[type=text], #login form input[type=password] {
	width: 300px;
	height: 30px;
	border: 0px;
	padding-bottom: 4px;
	border-radius: 20px;
}

#login form #submit {
	background-color: #c1bf97;
	color: #681a1a;
	font-size: 18px;
	font-weight: bold;
	width: 200px;
	height: 40px;
	border: 1px solid #681a1a;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	cursor: pointer;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
}

#login form #submit:hover {
	background-color: #a5682a;
	color: #ffffff;
}

#login .errormessage {
	position: relative;
	color: red;
	width: 100%;
	text-align: center;
	margin-top: 30px;
}