#registration .link, #registration span {
	font-family: "Brush Script MT", cursive;
	font-size: 16px;
}

#registration span {
	color: #4e675c;
}

#registration form input[type=submit] {
	width: 250px;
}

#registration .register-or-login {
	top: 430px;
}